body {
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}


#appMain{
	visibility: visible;
	display: block;
}


#elem360{
	position: absolute;
	z-index: 200;

	width: 286px;
	height: 161px;

	background-image: url("../img/img_360_OPT1.jpg");
	background-size: 286px 7084px;
	visibility: visible;
	top: 0;
	left: 0;
}







.elem{
	width: 50px;
	height: 50px;
	position: absolute;
	left:100px;
	opacity: 1;
	/*filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);*/
	transform-origin: top left;
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
	color: white;
}

#elemW{
	background-color: red;
	top:100px;
	opacity: 1;
}
#elemX{
	background-color: blue;
	top:200px;
}
#elemY{
	background-color: green;
	top:300px;
}

#elemZ{
	background-color: black;
	top: 0;
	height: 100%;
	width: 1px;
	left:150px;
}
